$bodyFs: 14;
$font: 'Roboto',
Arial,
sans-serif;
$black-color: #202020;
$white-color: #FCFCFD;
$grey-color: #DADAED;
$accent-color: #652AE6;
$green-color: #1BFEC0;

@import '_mixins.scss';
@import '_extends.scss';