@import '../../../assets/scss/general-styles/_vars';

.monthInputContainer {
  @include basic-animation;
  @include boxSize(134, 52);
  @include margin($right: 20);
  @include padding($left: 18, $bottom: 0);
  @include flex(flex-start, center);
  border: 2px solid $grey-color;
  position: relative;
  cursor: pointer;

  input {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number]{
      -moz-appearance: textfield;
    }
  }

  &::after {
    @include pseudo;
    @include boxSize(10, 2);
    @include position(absolute, $right: - calculateRem(16));
    background-color: $grey-color;
  }

  &::before {
    @extend %fonts-aw;
    @include basic-animation;
    @include pseudo;
    @include position_center(absolute, false, true);
    content: '\f0d7';
    font-size: calculateRem(10);
    color: $grey-color;
    right: calculateRem(20);
  }

  &.active {
    border-color: $accent-color;
    .months {
      @include slideDown(999);
      overflow-y: scroll;
    }

    &::before {
      transform: rotate(180deg) translate(-50%, -50%);
      margin-top: - calculateVh(10);
    }
  }
}

.months {
  @include basic-animation;
  @include slideUp(999);
  position: absolute;
  top: 110%;
  max-height: calculateRem(100);
  overflow: hidden;
  min-height: calculateRem(80);
  height: initial;
  width: 100%;
  left: 0;
  background-color: $white-color;

  li {
    @include padding(true, 5, 10, 5, 10);
    cursor: pointer;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .monthInputContainer {
    @include boxSize(52, 52);
    @include flex(center);
    padding: 0;

    &::before {
      right: calculateRem(8);
    }
  }
}